.container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}

.spotImage {
    width: 800px;
    max-height: auto;
    display: block;
    border-radius: 10px;
}

h1 {
    margin-bottom: 0px;
}

.title {
    margin-bottom: 20px;
}

.body {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.checkoutPaper {
    width: 370px;
    border-radius: 10px !important;
    margin: 0 auto;
}

.checkoutContainer {
    padding: 15px;
}

.checkoutHeader {
    display: flex;
}

.row {
    margin-top: 30px;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

.submit {
    position: absolute;
    left: 0;
    color: white;
    text-transform: inherit;
    display: block;
    width: 100%;
}